<mat-sidenav-container class="example-container ">
    <mat-sidenav #sidenav class="mat-elevation-z10 col-3 " mode="side" closed style="position:fixed">
        <mat-list>
            <div mat-subheader>Menu</div>
            <mat-list-item matRipple (click)="navigateTo('books')">
                <div matListItemTitle>Books</div>
            </mat-list-item>

            <mat-list-item matRipple (click)="navigateTo('authors')">
                <div matListItemTitle>Authors</div>
            </mat-list-item>
            <mat-list-item matRipple (click)="navigateTo('categories')">
                <div matListItemTitle>Categories</div>
            </mat-list-item>
            <mat-list-item matRipple (click)="navigateTo('admin')">
                <div matListItemTitle class="text-danger">Admin Dashboard</div>
            </mat-list-item>
        </mat-list>

    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar color="secondary">
            <div class="container-fluid d-flex flex-row justify-content-between">
                <button mat-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <label for="titile">Book Store {{(user$|async)?.username}}, {{(user$|async)?.role}}</label>
                <mat-icon>person</mat-icon>
                <app-login-button *ngIf="!(isLoggedIn$|async)"></app-login-button>
                <app-logout-button *ngIf="(isLoggedIn$|async)"></app-logout-button>



            </div>
            <!-- /.container -->
        </mat-toolbar>
        <!-- home -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-footer></app-footer> -->