<!-- <h1 class="mx-3 mt-3 text-center ">Browse All Books</h1>
<mat-grid-list class="mb-5" cols="3" rowHeight="400px" gutterSize="10px">
    <mat-grid-tile
        *ngFor="let book of books.slice((paginator.pageIndex * paginator.pageSize), ((paginator.pageIndex * paginator.pageSize) + paginator.pageSize))">
        <app-book-card [book]="book"></app-book-card>
    </mat-grid-tile>
</mat-grid-list> -->


<!-- this is fully responsive -->
<!-- <h1 class="mat-h1 mx-3 mt-3 text-center">Browse All Books</h1>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="mb-5">
    <div fxFlex.gt-lg="33.33%" fxFlex.gt-xs="50%" fxFlex="100%" *ngFor="let book of books.slice((paginator.pageIndex * paginator.pageSize), ((paginator.pageIndex * paginator.pageSize) + paginator.pageSize))">
        <app-book-card [book]="book"></app-book-card>
    </div>
</div> -->

<!-- <div class="container-fluid mb-5">
  <div class="row">
    <div class="col-sm-4 col-lg-4" *ngFor="let book of books.slice((paginator.pageIndex * paginator.pageSize), ((paginator.pageIndex * paginator.pageSize) + paginator.pageSize))">
      <app-book-card [book]="book"></app-book-card>
    </div>
  </div>
</div> -->
<h1 class="mat-h1 mx-3 mt-3 text-center">Browse All Books</h1>
<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-4 col-lg-4"
        *ngFor="let book of books.slice((paginator.pageIndex * paginator.pageSize), ((paginator.pageIndex * paginator.pageSize) + paginator.pageSize));">
        <app-book-card [book]="book"></app-book-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="fixed-bottom d-flex justify-content-center">
  <mat-paginator #paginator [length]="books.length" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
