form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  justify-items: center;
  overflow-y: hidden;
}
.upload_image{
margin-top: -2rem;
}
.p-field {
  display: grid;
  grid-template-columns: max-content 1fr;
  /* gap: 0.5rem; */
  align-items: center;
  margin-bottom: 1rem;
}


.p-field label {
  justify-self: end;
  margin-right: 1rem;
}

.p-field input[type="text"],
.p-field textarea {
  width: 100%;
}

.p-dialog-footer {
  display: flex;
  justify-content: center;
   margin-top: 0.5rem;
}
