<p-table *ngIf="userAllBooks.length>0" [value]="userAllBooks" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Author</th>
            <th>Average Rating</th>
            <th>Your Rating</th>
            <th>Shelf</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
        <tr>
            <td>{{book.title}}</td>
            <td><img [src]="'http://localhost:3000/'+book.coverImage" [alt]="book.name" width="100" class="shadow-4" />
            </td>
            <td>{{book.authorName}}</td>
            <td>
                <app-book-rating [bookId]="book._id" [rating]="book.averageRating" [editable]="false"></app-book-rating>
            </td>
            <td>
                <app-book-rating [bookId]="book._id" [rating]="book.rating" [editable]="true"></app-book-rating>
            </td>
            <td>
                <app-book-shelf [bookId]="book._id" [bookStatus]="book.shelf"></app-book-shelf>
            </td>
        </tr>
    </ng-template>
</p-table>