/* .yellow-stars .ui-rating-star {
  color: yellow;
}
::ng-deep .ui-rating .ui-rating-star {
  color: yellow;
}
.star .ui-rating-star {
  color: yellow !important;
}
.star .ui-rating-icon svg path {
  fill: yellow;
}
.ui-rating a {
  color: purple !important;
}

.yellow-star .pi-star {
  color: yellow;
} */

:host ::ng-deep .p-rating-icon:not(.p-rating-cancel),
:host ::ng-deep .p-rating-icon:not(.p-rating-cancel):hover {
  color: #7b68ee !important;
}
