<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Good Reads
          </h6>
          <p>
            Good Reads is a book store website Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Dicta eius nobis mollitia impedit ab
            ad laboriosam dolor laudantium reprehenderit veniam.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="fw-bold mb-4">Book Categories</h6>
          <div class="container">
            <div class="row d-flex info">
              <p>Angular</p>
              <p>React</p>
              <p>Vue</p>
              <p>Laravel</p>
              <p>Phycology</p>
              <p>Law</p>
              <p>Advanture</p>
              <p>Drama</p>
            </div>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 info">
          <!-- Links -->
          <h6 class="fw-bold mb-4">Quick Links</h6>
          <p>About us</p>
          <p>Contact us</p>
          <p>Categories</p>
          <p>Login</p>
          <p>Sign Up</p>
          <p>FAQ</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div
          class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 d-flex flex-column align-items-center justify-content-center"
        >
          <!-- Links -->
          <div class="text-start">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              <i class="Contact fas fa-home me-3"></i> New York, NY 10012, US
            </p>
            <p>
              <i class="Contact fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="Contact fas fa-phone me-3"></i> + 01 234 567 88</p>
          </div>
          <div class="text-center mx-auto">
            <img src="assets/images/map.png" class="img-fluid" alt="..." />
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none fw-bold d-lg-block">
      <span>Follow US:</span>

      <div>
        <a href="" class="me-4 link-secondary">
          <i class="facebook fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="twitter fab fa-twitter"></i>
        </a>

        <a href="" class="me-4 link-secondary">
          <i class="instagram fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="linkedin fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">All Rights Reserved</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
