<div class="my-5">
  <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
    <div class="text-center">
      <div class="p-field">
          <label for="authorName">Author Name</label>
          <input type="text" pInputText formControlName="authorName" id="authorName" required autofocus />
          <small class="p-invalid text-danger"
              *ngIf="submitted && authorForm.controls['authorName'].errors?.['required']">
              Author Name isrequired.
          </small>
      </div>
      <div class="p-field">
          <label for="dateOfBirth">Date of Birth</label>
          <mat-form-field appearance="fill">
              <mat-label>Choose Date</mat-label>
              <input (dateChange)="onDateChange($event)" matInput [matDatepicker]="picker" formControlName="dateOfBirth"
                  id="dateOfBirth" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <small class="p-invalid text-danger"
              *ngIf="submitted && authorForm.controls['dateOfBirth'].errors?.['required']">
              Author Birth Date is required.
          </small>
      </div>

      <label class="p-mb-3">Upload Image</label>
      <p-fileUpload mode="basic" chooseLabel="Choose" name="file" accept="image/*"
          (onSelect)="onFileSelected($event)"></p-fileUpload>
      <p class="text-danger" *ngIf="!fileSelected&&!isUpdate">You should upload an image</p>
      <div class="p-dialog-footer my-5">
          <button pButton type="submit" label="Submit" class="p-button-success"></button>
      </div>
    </div>
      <!-- <label class="p-mb-3">Upload Image</label> -->
      <!-- <p-fileUpload mode="basic" chooseLabel="Choose" name="file" accept="image/*" (onSelect)="onFileSelected($event)">
      </p-fileUpload> -->

      <!-- <div class="p-dialog-footer">
          <button pButton type="submit" label="Submit" class="p-button-success"></button>
      </div> -->
  </form>
  </div>
