<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="container-fluid d-flex flex-column my-3">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="signupForm.controls['username'].errors?.['required']">
        Username is required
      </mat-error>
      <mat-error *ngIf="signupForm.controls['username'].errors?.['minlenght']">
        Username is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="signupForm.controls['email'].errors?.['required']">
        Email is required
      </mat-error>
      <mat-error *ngIf="signupForm.controls['email'].errors?.['email']">
        Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="signupForm.controls['password'].errors?.['required']">
        Password is required
      </mat-error>
      <mat-error *ngIf="signupForm.controls['password'].errors?.['minlength']">
        Password Must be at least 8 characters long
      </mat-error>
    </mat-form-field>
    <div>
      <span>Have an account yet?</span>
      <button class="Register" mat-button (click)="openLoginForm()">
        Login
      </button>
    </div>
    <button
      matRipple
      mat-raised-button
      class="btn"
      type="submit"
      [disabled]="signupForm.invalid"
    >
      Register
    </button>
  </div>
  <!-- /.container -->
</form>
