.text_area{
width: 70%;
border-radius: 5px;
margin-top:3rem ;
display: flex;
justify-content: center;
}

.review_area{
 margin-bottom: 1.25rem;
  border-style: solid;
  border-color: #7B68EE;
border-radius: 10px;
}
