<div class="d-flex justify-content-center mb-5">
  <div class="card" style="width: 17rem; height: 23rem">
    <div class="d-flex flex-column justify-content-between h-100">
      <div>
        <img
          [src]="'http://localhost:3000/' + author.photo"
          class="card-img-top"
          alt="..."
          style="height: 15rem"
        />
        <div class="card-body text-center">
          <h5 class="card-title mb-3">
            {{ author.first_name }} {{ author.last_name }}
          </h5>
        </div>
      </div>
      <a
        (click)="navigateToAuthorDetails(author.id)"
        class="btn btn-primary mx-5 mb-3"
        >View Author Details</a
      >
    </div>
  </div>
</div>
