<div *ngIf="isLoading else loadedData" class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>
</div>
<ng-template #loadedData>
  <h1 class="mx-3">Browse All Authors</h1>
  <mat-grid-list class="mb-5" cols="3" rowHeight="400px" gutterSize="10px">
    <mat-grid-tile
      *ngFor="let author of authors.slice((paginator.pageIndex * paginator.pageSize), ((paginator.pageIndex * paginator.pageSize) + paginator.pageSize))">
      <app-author-card [author]="author"></app-author-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="fixed-bottom d-flex justify-content-center">
    <mat-paginator #paginator [length]="authors.length" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </div>
</ng-template>