<!-- <ng-container *ngFor="author of authors; let i =index">
  <app-author-card [author]="authors"></app-author-card>
</ng-container>
 -->
<!--
<mat-grid-list class="mb-5" cols="3" rowHeight="400px" gutterSize="10px">
  <mat-grid-tile *ngFor="let author of authors;let i=index">
   <app-author-card [author]="author"></app-author-card>
  </mat-grid-tile>
</mat-grid-list>
 -->

 <div class="container mx-auto my-5 mx-5 ">
  <div class="row d-flex">
    <div class="col-sm-12 col-md-6 col-xl-3 my-3 mx-5"  *ngFor="let author of authors;let i=index">
      <app-author-card [author]="author"></app-author-card>
    </div>
  </div>
</div>


