<div
  *ngIf="isLoading; else loadedData"
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <p-progressSpinner
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    animationDuration=".5s"
  ></p-progressSpinner>
</div>
<ng-template #loadedData>
  <!-- <div
    class="container d-flex flex-column justify-content-center mainColor rounded-5 mt-5 align-items-center w-100 text-center"
  >
    <div class="col-lg-4 col-md-4 col-sm-6 align-items-center mt-5">
      <img
        class="rounded-circle border border-5"
        [src]="'http://localhost:3000/' + authorData.author.photo"
        style="width: 15rem; height: 15rem"
        alt=""
      />
    </div>

    <div class="col-lg-8 col-md-8 col-sm-6 my-2">
      <p class="fs-2 fw-semibold mb-3 mt-5 text-light Fasthand">
        {{ authorData.author.authorName }}
      </p>
      <p class="mb-3 fs-5 fw-semibold mb-3 mt-5 text-light">
        {{ authorData.author.dateOfBirth | date }}
      </p>
    </div>
  </div> -->

  <div
    class="container mainColor rounded-5 mt-5 align-items-center w-100 text-center"
  >
    <div class="row">
      <div class="col my-5">
        <p class="fs-1 fw-semibold mb-3 mt-5 text-light Fasthand">
          {{ authorData.author.authorName }}
        </p>
        <p class="mb-3 fs-6 fw-semibold mb-3 mt-5 text-light">
          Date Of birth: {{ authorData.author.dateOfBirth | date }}
        </p>
      </div>

      <div class="col my-5">
        <img
          class="border border-5 rounded-4"
          [src]="'http://localhost:3000/' + authorData.author.photo"
          style="width: 15rem; height: 15rem"
          alt=""
        />
      </div>
    </div>
  </div>

  <h1 class="text-center mt-3 mb-5">
    Browse {{ authorData.author.authorName }}'s Books
  </h1>
  <div class="container">
    <div *ngIf="authorBooks">
      <div class="row d-flex justify-content-center">
        <div
          class="col-sm-12 col-md-6 col-lg-4 col-xl-4"
          *ngFor="let book of authorBooks"
        >
          <app-book-card [book]="book"></app-book-card>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <nav aria-label="Authors pagination">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage == 1">
          <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
        </li>
        <li
          class="page-item"
          *ngFor="let page of pages"
          [class.active]="currentPage == page"
          (click)="setPage(page)"
        >
          <a class="page-link">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage == totalPages">
          <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</ng-template>

<!-- 
    <h1 *ngIf="authorBooks.length>0">Author's Books</h1>
    <h1 class="text-warning" *ngIf="authorBooks.length<1">This Author has no Books</h1>
    <p-table *ngIf="authorBooks.length>0" [value]="authorBooks" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Average Rating</th>
                <th>Rating Count</th>
                <th>Your Rating</th>
                <th>Shelf</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-book>
            <tr>
                <td>{{book.title}}</td>
                <td><img [src]="'http://localhost:3000/'+book.coverImage" [alt]="book.name" width="100"
                        class="shadow-4" />
                </td>
                <td><p-rating [ngModel]="book.averageRating" [readonly]="true" [cancel]="false"></p-rating></td>
                <td>{{book.ratingCount}}</td>
                <td>
                    <app-book-rating [bookId]="book._id" [rating]="book.userBook.rating"
                        [editable]="true"></app-book-rating>
                </td>
                <td>
                    <app-book-shelf [bookId]="book._id" [bookStatus]="book.userBook.shelf"></app-book-shelf>
                </td>
            </tr>
        </ng-template>
    </p-table>

</ng-template> -->
