<!-- <mat-card (click)="navigateToBookDetails(book._id)" matRipple class="example-card shadow m-4"
    style="width: 400px;height: 300px;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>{{book.author.first_name}}</mat-card-subtitle>
    </mat-card-header>
    <img class="img-fluid " mat-card-lg-image [src]="book.coverImage" alt="Book Photo">
    <mat-card-content>
        <p class="my-2">
            {{book.summary}}
        </p>
    </mat-card-content>
    <mat-card-actions class="center_button">
        <button mat-button class=" text-light btn">Add to shelf</button>
    </mat-card-actions>
</mat-card> -->
<!-- /.col-3 -->