<!-- <mat-card (click)="navigateToBookDetails(book._id)" matRipple class="example-card shadow m-4"
    style="width: 400px;height: 300px;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>{{book.author_name}}</mat-card-subtitle>
    </mat-card-header>
    <img class="img-fluid " mat-card-lg-image  [src]="'http://localhost:3000/'+book.coverImage" alt="Book Photo">
    <mat-card-content>
        <p class="my-2">
            {{book.summary}}
        </p>
    </mat-card-content>
    <mat-card-actions class="center_button">
        <button mat-button class=" text-light btn">Add to shelf</button>
    </mat-card-actions>
</mat-card>  -->

<div class="d-flex justify-content-center">
  <div>
  <mat-card (click)="navigateToBookDetails(book._id)" matRipple class="example-card shadow m-4"
        style="height: 300px; width: 300px;">
        <img class="img-fluid " mat-card-lg-image  [src]="'http://localhost:3000/'+book.coverImage" alt="Book Photo">
    </mat-card>
  </div>

</div>
