<div class="container">
  <div class="row d-flex">
    <!-- div for book picture -->
    <div class="col-lg-4 col-md-4 col-sm-6 align-items-center">
        <img [src]="'http://localhost:3000/'+coverImage" class="w-75" alt="">
      <div class="row d-flex justify-content-center my-3">
        <!-- <app-book-rating [rating]="bookData.data[0].rating" [bookId]="bookId"
          [editable]="true"></app-book-rating> -->
      </div>

    </div>

    <div class="col-lg-8 col-md-8 col-sm-6 my-3">
      <p class="fs-2 fw-bold mb-3">{{bookData.title}}</p>
      <div class="asd">
        <a [routerLink]="" class="mb-3">{{bookData.author[0].first_name+' '+bookData.author[0].last_name}}</a><br>

      </div>

      <app-book-rating [rating]="bookData.averageRating" [bookId]="bookId" [editable]="false"></app-book-rating>

    </div>
  </div>

  <!-- <app-book-shelf [bookStatus]="userBookData.data[0].shelf" [bookId]="bookId"></app-book-shelf> -->
  <app-book-reviews></app-book-reviews>



</div>
