<div
  *ngIf="isLoading; else loadedData"
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <p-progressSpinner
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    animationDuration=".5s"
  ></p-progressSpinner>
</div>
<ng-template #loadedData>
  <div class="all_conternt">
    <div class="container">
      <section id="home mb-5">
        <div
          class="row justify-content-center align-items-center my-5 text-center"
          style="background-color: #e6e6fa; border-radius: 15px"
        >
          <div class="col-12 col-xl-6 mt-5">
            <div>
              <h1 class="w3-center" style="color: #7b68ee">Back To SCHOOL</h1>
              <p class="fs-1">Special 50% Off</p>
              <p class="fs-4">For our student Community</p>
              <p class="ps-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint,
                rerum ullam nam asperiores blanditiis facere amet architecto
                perferendis nihil hic accu
              </p>
              <div class="mb-5">
                <button
                  class="btn btn-lg me-3"
                  style="background-color: #7b68ee"
                >
                  Get the deals<i
                    class="fa-solid fa-arrow-right mx-2"
                    style="color: white"
                  ></i>
                </button>
                <button class="btn btn-lg btn-outline-secondary">
                  see other promos
                </button>
              </div>
            </div>
          </div>

          <div class="col-12 col-xl-6 mt-5" ms-5>
            <div class="d-flex justify-content-center align-items-center">
              <!-- <img src="/src/assets/images/My project.png" class="img-fluid w-100 " alt="..."> -->
              <img src="../../assets/images/My project.png" />
            </div>
          </div>
        </div>
      </section>
    </div>

    <!--second section-->
    <div class="container">
      <div class="row justify-content-center my-5">
        <div class="col-md-3 d-flex mb-3">
          <i class="fa-sharp fa-solid fa-bolt-lightning icons mx-3 mt-4"></i>
          <div class="mx-3">
            <h5 class="fw-bold">Quick Delivery</h5>
            <p class="text-muted">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit
            </p>
          </div>
        </div>

        <div class="col-md-3 d-flex mb-3">
          <i class="fa-sharp fa-solid fa-shield icons mx-3 mt-4"></i>
          <div class="mx-3">
            <h5 class="fw-bold">Secure Payment</h5>
            <p class="text-muted">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit
            </p>
          </div>
        </div>

        <div class="col-md-3 d-flex mb-3">
          <i class="fa-sharp fa-solid fa-thumbs-up icons mx-3 mt-4"></i>
          <div class="mx-3">
            <h5 class="fw-bold">Best Quality</h5>
            <p class="text-muted">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit
            </p>
          </div>
        </div>

        <div class="col-md-3 d-flex mb-3">
          <i class="fa-sharp fa-solid fa-star icons mx-3 mt-4"></i>
          <div class="mx-3">
            <h5 class="fw-bold">Return Guarantee</h5>
            <p class="text-muted">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--  third section-->
    <div class="container justify-content-center">
      <div
        class="text-center my-5 py-4"
        style="background-color: antiquewhite; border-radius: 10px"
      >
        <h3 class="fw-bold mx-5 my-3">Popular Books</h3>
        <p class="mx-5 my-3 fs-4">
          Recommendations on books to read next. Find books that are similar to
          what you've read before. See what readers recommend.
        </p>
        <div class="row d-flex justify-content-center mt-5">
          <div *ngFor="let book of books" class="mx-3 col-sm-12 col-md-3">
            <app-book-card [book]="book"></app-book-card>
          </div>
        </div>
      </div>
    </div>

    <div class="container justify-content-center">
      <div
        class="text-center my-5 py-4"
        style="background-color: rgb(178, 178, 241); border-radius: 10px"
      >
        <h3 class="fw-bold mx-5 my-3">Popular Authors</h3>
        <p class="mx-5 my-3 fs-4">
          Find out Some of the world's most renowned authors and their most
          famous books.
        </p>
        <div class="row d-flex justify-content-center mt-5">
          <div *ngFor="let author of authors" class="mx-3 col-sm-12 col-md-3">
            <app-author-card [author]="author"></app-author-card>
          </div>
        </div>
      </div>
    </div>

    <!--        FOURTH sections        -->

    <div class="container justify-content-center my-5">
      <div class="row d-flex justify-content-center text-center">
        <p class="fs-6 fw-bold text-start ms-5">Some Quotes for Authors</p>
        <p class="fs-2 fst-italic m-3">{{ randomQuote.text }}</p>
        <p class="fs-5 fw-bold">{{ randomQuote.author }}</p>
      </div>
    </div>

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="card mx-3" id="latest_news">
            <img
              class="card-img-top viewmore-img"
              src="../../assets/images/18e3f4aa-b8e8-4240-a6af-822e9a79f2d8.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Why Reading is important for children?</h5>
              <p class="card-text">
                It exposes them to new words and ways of using language. It also
                helps them learn general information about the world, which
                makes it easier for them to learn about new subjects once they
                get to school.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="card mx-3" id="latest_news">
            <img
              class="card-img-top viewmore-img"
              src="../../assets/images/2ada1a6b-5983-4cbb-b0d2-61daa529dee5.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                Benifits of reading: Smart,Happy,Dilignt
              </h5>
              <p class="card-text">
                -improves brain connectivity.
                <br />
                -increases your vocabulary and comprehension.
                <br />
                -empowers you to empathize with other people.
                <br />
                -reduces stress.
                <br />
                fights depression symptoms.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="card mx-3" id="latest_news">
            <img
              class="card-img-top viewmore-img"
              src="../../assets/images/a035b34e-2dcb-42df-ba97-50f4382db28b.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">What books you should read in 2023?</h5>
              <p class="card-text">
                التجربة الفكرية لروح امه-
                <br />
                تنذكر-ما-تنعاد-
                <br />
                -Clean Architecture
                <br />
                -Design Patterns
                <br />
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="card mx-3" id="latest_news">
            <img
              class="card-img-top viewmore-img"
              src="assets/images/e3b7d66a-0c80-4457-9266-3efa0ade2118.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                10 things you must know to improve your reading skills
              </h5>
              <p class="card-text">
                - Read out loud.
                <br />
                -Find a connection.
                <br />
                -Become the teacher.
                <br />
                -Grab a highlighter.....
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row m-auto py-5 w-75 justify-content-center text-center">
        <div class="statistic col-md-3 col-sm-6 flex-column align-items-center">
          <div><i class="fa-sharp fa-solid fa-users my-5"></i></div>
          <h3 class="h">125,663</h3>
          <p>Happy Customers</p>
        </div>

        <div class="statistic col-md-3 col-sm-6 flex-column align-items-center">
          <div><i class="fa-sharp fa-solid fa-book-open my-5"></i></div>
          <h3>50,672+</h3>
          <p>Book Collections</p>
        </div>

        <div class="statistic col-md-3 col-sm-6 flex-column align-items-center">
          <div><i class="fa-sharp fa-solid fa-store my-5"></i></div>
          <h3>1,562</h3>
          <p>Our Stors</p>
        </div>

        <div class="statistic col-md-3 col-sm-6 flex-column align-items-center">
          <div><i class="fa-sharp fa-solid fa-feather my-5"></i></div>
          <h3>457</h3>
          <p>famous Writers</p>
        </div>
      </div>
    </div>

    <div class="container Subscribe">
      <div class="m-auto">
        <p class="fs-2 text-center mb-5">
          Subscribe to our news letter for the latest book updates
        </p>
        <div class="input-group mx-auto mb-3 w-50 d-flex align-items-center">
          <input
            type="text"
            class="input-email form-control my-2"
            placeholder="Type your email here"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-light my-2"
            type="button"
            id="button-addon2"
            style="padding: 1.08rem"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
