<div class="all_conternt">
  <div class="container">
    <section id="home mb-5">
      <div class="row justify-content-center align-items-center my-5 text-center"  style="background-color: #e6e6fa;border-radius: 15px;">
        <div class="col-12 col-xl-6 mt-5">
          <div>
            <h1 class="w3-center " style="color: #7B68EE;">Back To SCHOOL</h1>
            <p class="fs-1">Special 50% Off</p>
            <p class="fs-4">For our student Community</p>
            <p class="ps-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, rerum ullam nam asperiores blanditiis facere amet architecto perferendis nihil hic accu </p>
            <div class="mb-5">
            <button class="btn btn-lg me-3" style="background-color: #7B68EE;">Get the deals<i class="fa-solid fa-arrow-right mx-2" style="color: white;"></i></button>
            <button class="btn btn-lg btn-outline-secondary">see other promos</button>
          </div>
          </div>
        </div>

        <div class="col-12 col-xl-6 mt-5 "ms-5>
          <div class="d-flex justify-content-center align-items-center">
             <!-- <img src="/src/assets/images/My project.png" class="img-fluid w-100 " alt="..."> -->
             <img src="assets/images/My project.png">
          </div>
        </div>
      </div>
    </section>
  </div>


  <!--second section-->
  <div class="container">
    <div class="row justify-content-center my-5">
      <div class="col-md-3 d-flex mb-3">
        <i class="fa-sharp fa-solid fa-bolt-lightning icons mx-3 mt-4"></i>
        <div class="mx-3">
          <h5 class="fw-bold">Quick Delivery</h5>
          <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
      </div>

      <div class="col-md-3 d-flex mb-3">
        <i class="fa-sharp fa-solid fa-shield icons mx-3 mt-4"></i>
        <div class="mx-3">
          <h5 class="fw-bold">Secure Payment</h5>
          <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
      </div>

      <div class="col-md-3 d-flex mb-3">
        <i class="fa-sharp fa-solid fa-thumbs-up icons mx-3 mt-4"></i>
        <div class="mx-3">
          <h5 class="fw-bold">Best Quality</h5>
          <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
      </div>

      <div class="col-md-3 d-flex mb-3">
        <i class="fa-sharp fa-solid fa-star icons mx-3 mt-4"></i>
        <div class="mx-3">
          <h5 class="fw-bold">Return Guarantee</h5>
          <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
      </div>
    </div>
  </div>

  <!--  third section-->
  <div class="container justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-5 text-center my-5" style="background-color: antiquewhite; border-radius: 10px;">
        <h3 class="fw-bold mx-5 my-3">Recommended For You</h3>
        <p class="mx-5 my-3">Recommendations on books to read next. Find books that are similar to what you've read before. See what readers recommend,,</p>
        <div class="d-flex justify-content-center">
          <img class="cover_photo" src="assets/images/yellow-business-leadership-book-cover-design-template-dce2f5568638ad4643ccb9e725e5d6ff.jpg"alt="">
          <img class="cover_photo" src="assets/images/images.jpg" alt="">
        </div>
      </div>
        <div class="col-12 col-md-5 text-center my-5 mx-5" style="background-color:rgb(178, 178, 241); border-radius: 10px;">
          <h3 class="fw-bold mx-5 my-3">popular in 2023</h3>
          <p class="mx-5 my-3">The most read book in the world. In 2023, it has sold over 3.9 billion copies. It is the most recognizable and famous book that has ever been published.</p>
          <div class="d-flex justify-content-center">
            <img class="cover_photo" src="assets/images/index.png" alt="">
            <img class="cover_photo" src="assets/images/images2.jpg" alt="">
          </div>
        </div>
    </div>
  </div>

  <!--        FOURTH sections        -->
   <!-- <div class="row d-flex justify-content-center text-center my-3">
      <h1 class="fs-1">Special Offers</h1><br>
      <h5 class="fs-5">a books that are  being sold for less than its usual price or the act of selling something for less than the usual price.</h5>
  </div> -->


  <div class="row d-flex justify-content-center text-center">
    <p class="fs-6 fw-bold text-start ms-5">Some Quotes for Authors</p>
    <p class="fs-2 fst-italic m-3">{{ randomQuote.text }}</p>
    <p class="fs-5 fw-bold">{{ randomQuote.author }}</p>
  </div>

  <!--        fifth  sections        -->
    <div class="row mb-5 d-flex justify-content-around my-5" >
      <div class="col-12 col-md-6 col-xl-3 my-3" >
        <div class="card" id="fifth_section">
          <img src="assets/images/David Goggins.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Motivation book</h3>
                <p class="card-text mt-3">David Goggins is an American ultramarathon runner, ultra-distance cyclist, triathlete, public speaker, and author. He is a retired United States Navy SEAL member who served in the Iraq War</p>
              <p class="fs-4">David Goggins </p>

          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3 my-3">
        <div class="card" id="fifth_section">
          <img src="assets/images/كيرلس بهجت.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Sychology book</h3>
              <p class="card-text mt-3">كيرلس بهجت طبيب جرّاح في مستشفى الدمرداش، ولكنه اشتهر بنوع آخر من الطب، فهو طبيب القلوب، حيث حقق شهرة ونجاح على السوشيال ميديا وحققت كتبه شهرة واسعة بين أوساط المجتمع المصري</p>
              <p class="fs-4">كيرلس بهجت </p>
        </div>
      </div>
      </div>



        <div class="col-12 col-md-6 col-xl-3 my-3" >
          <div class="card" id="fifth_section">
            <img src="assets/images/Lisa Sanders.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Medical book</h3>
                <p class="card-text mt-3">Lisa Sanders is an American physician, medical author and journalist, and associate professor of internal medicine and education at Yale School of Medicine.</p>
                <p class="fs-4">Lisa Sanders </p>
          </div>
        </div>
        </div>

    </div>



  <!-- flash sale section    -->

  <div class=" text-center my-5">
    <h1>Flash Sale</h1>
    <h5>discount or promotion offered by a Good Reads for a short period of time. The quantity is limited, which ofte</h5>
  </div>


  <!-- book on sale section   -->

   <div class="row d-flex justify-content-center">
      <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <div class="card border-0" id="book_section" >
          <img src="assets/images/computer science.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">seconds</h4>
            <div class="d-flex text-center">
            </div>
              <p class="card-text asd">Computer Science</p>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <div class="card  border-0" id="book_section">
          <img src="assets/images/Can't hurt me _.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">seconds</h4>
            <div class="d-flex text-center">
            </div>
              <p class="card-text asd">Motivation</p>
          </div>
        </div>
      </div>


      <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <div class="card border-0 " id="book_section">
          <img src="assets/images/تنذكر-ما-تنعاد.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">seconds</h4>
            <div class="d-flex text-center">
            </div>
              <p class="card-text asd">Novels</p>
          </div>
        </div>
      </div>


      <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <div class="card border-0" id="book_section">
          <img src="assets/images/When Breath Becomes Air.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">seconds</h4>
            <div class="d-flex text-center">
            </div>
              <p class="card-text asd">Medical</p>
          </div>
        </div>
      </div>


      <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <div class="card border-0" id="book_section">
          <img src="assets/images/علاقات خطرة.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title">seconds</h4>
            <div class="d-flex text-center">
            </div>
              <p class="card-text asd">sychology</p>
          </div>
        </div>
      </div>



    </div>

    <div class="d-flex justify-content-between  p-4 mx-10 ">
       <div class="w-25 py-5" >
          <h3>Latest News</h3>
          <p>Students compare their math and reading performance to determine whether they are a 'math person' or 'reading person'

            A student's self-perception of what they are good at and how good they are at different types of tasks predicts their future scholastic performance and choices. For example, students who perceive themselves as good at math ...  </p>
       </div>
       <div class="m-5 view_more ">
            <p class="my-3">View More -></p>
       </div>
    </div>

  <div class="container">
    <div class="row d-flex justify-content-center ">

      <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
        <div class="card mx-3" id="latest_news">
            <img class="card-img-top viewmore-img" src="assets/images/18e3f4aa-b8e8-4240-a6af-822e9a79f2d8.jpg" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Why Reading is important for children?</h5>
              <p class="card-text">It exposes them to new words and ways of using language. It also helps them learn general information about the world, which makes it easier for them to learn about new subjects once they get to school.......</p>
            </div>
          </div>
      </div>


      <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
        <div class="card mx-3" id="latest_news">
          <img class="card-img-top viewmore-img" src="assets/images/2ada1a6b-5983-4cbb-b0d2-61daa529dee5.jpg" alt="Card image cap" >
          <div class="card-body">
            <h5 class="card-title">Benifits of reading:Smart,Happy,Dilignt</h5>
            <p class="card-text">-improves brain connectivity.
              <br>
              -increases your vocabulary and comprehension.
              <br>
              -empowers you to empathize with other people.
              <br>
              -reduces stress.
              <br>
              fights depression symptoms......</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
        <div class="card mx-3" id="latest_news">
          <img class="card-img-top viewmore-img" src="assets/images/a035b34e-2dcb-42df-ba97-50f4382db28b.jpg" alt="Card image cap" >
          <div class="card-body">
            <h5 class="card-title">What books you should read in 2023?</h5>
            <p class="card-text">التجربة الفكرية لروح امه-
              <br>
              تنذكر-ما-تنعاد-
              <br>
              -Clean Architecture
              <br>
              -Design Patterns
              <br></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
        <div class="card mx-3" id="latest_news">
          <img class="card-img-top viewmore-img" src="assets/images/e3b7d66a-0c80-4457-9266-3efa0ade2118.jpg" alt="Card image cap" >
          <div class="card-body">
            <h5 class="card-title">10 things you must know to improve your reading skills</h5>
            <p class="card-text">- Read out loud.
              <br>
               -Find a connection.
               <br>
               -Become the teacher.
               <br>
               -Grab a highlighter.....</p>
          </div>
        </div>
      </div>
    </div>
  </div>




    <div class="container">

      <div class="row m-auto  py-5 w-75 justify-content-center text-center">

          <div class="statistic col-md-3 col-sm-6 flex-column align-items-center  ">
              <div><i  class="fa-sharp fa-solid fa-users my-5 "></i></div>
              <h3  class="h">125,663</h3>
              <p>Happy Customers</p>
          </div>

          <div class="statistic  col-md-3  col-sm-6 flex-column align-items-center ">
            <div><i class="fa-sharp fa-solid fa-book-open my-5"></i></div>
            <h3 >50,672+</h3>
            <p>Book Collections</p>
        </div>

        <div class="statistic   col-md-3  col-sm-6 flex-column align-items-center ">
          <div><i class="fa-sharp fa-solid fa-store my-5"></i></div>
          <h3 >1,562</h3>
              <p>Our Stors</p>
      </div>

      <div class="statistic  col-md-3  col-sm-6 flex-column align-items-center ">
        <div><i class="fa-sharp fa-solid fa-feather my-5"></i></div>
        <h3 >457</h3>
        <p>famous Writers</p>
    </div>

  </div>
  </div>



   <div class="Subscribe">
    <div class=" m-auto">
      <p class="fs-2 text-center mb-5">Subscribe to our news letter for the latest book updates</p>
      <div class="input-group mx-auto mb-3 w-50">
        <input type="text" class="input-email form-control" placeholder="Type your email here" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-light" type="button" id="button-addon2">Subscribe</button>
      </div>
    </div>
  </div>



        <!-- Footer -->
  <footer class="text-center text-lg-start bg-white text-muted">


      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class=" fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>Good Reads
              </h6>
              <p>
                Good Reads is an American social cataloging website and a subsidiary of Amazon that allows individuals to search its database of books, annotations, quotes, and reviews. Users can sign up and register books to generate library catalogs and reading lists..
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class=" fw-bold mb-4">
                Book Categories
              </h6>
              <div class="container">
                <div class="row d-flex info">
                     <p>Angular </p>
                     <p>React  </p>
                     <p> Vue </p>
                     <p>Laravel</p>
                     <p>Phycology</p>
                      <p>Law</p>
                      <p>Advanture</p>
                      <p>Drama</p>
                 </div>
            </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 info">
              <!-- Links -->
              <h6 class=" fw-bold mb-4 ">
                Quick Links
              </h6>
              <p>About us</p>
              <p> Contact us  </p>
              <p>Categories </p>
              <p>Login </p>
               <p>Sign Up </p>
                <p>FAQ </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 d-flex flex-column align-items-center justify-content-center">
              <!-- Links -->
              <div class="text-start">
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p ><i class="Contact fas fa-home me-3  " ></i> New York, NY 10012, US</p>
              <p >
                <i class="Contact fas fa-envelope me-3  "></i>
                info@example.com
              </p>
              <p ><i class=" Contact fas fa-phone me-3   "></i> + 01 234 567 88</p>
            </div>
              <div class="text-center mx-auto">
              <img src="assets/images/map.png" class="img-fluid" alt="...">
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none fw-bold d-lg-block">
          <span>Follow US:</span>

          <div>
            <a href="" class="me-4 link-secondary">
              <i class=" facebook  fab fa-facebook-f "></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="twitter fab fa-twitter"></i>
            </a>

            <a href="" class="me-4 link-secondary">
              <i class=" instagram fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class=" linkedin fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        <!-- Left -->

        <!-- Right -->

        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold " href="#">All Rights Reserved</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

  </div>
